.events {
  padding-bottom: 100px;

  &__container {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 112px;
    }

    @include on-desktop {
      margin-bottom: 104px;
    }
  }

  &__title {
    @extend %title-lg;

    margin: 0 0 40px;
    color: $c-black-soft;

    @include on-tablet {
      margin-bottom: 48px;
      text-align: left;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }

  &__list {
    display: grid;
    row-gap: 60px;

    @include on-tablet {
      row-gap: 64px;
    }

    @include on-desktop {
      row-gap: 104px;
    }
  }
}
