// Montserrat

%montserrat-base {
  font-family: $font-title;
  line-height: 100%;
  letter-spacing: 0;
}

%montserrat-700 {
  @extend %montserrat-base;

  font-weight: 700;
}

%montserrat-400 {
  @extend %montserrat-base;

  font-weight: 400;
}

%title-xl {
  @extend %montserrat-700;

  font-size: 45px;
  color: $c-black;
  text-align: center;

  @include on-tablet {
    font-size: 54px;
  }

  @include on-desktop {
    font-size: 72px;
  }
}

%title-lg {
  @extend %montserrat-700;

  font-size: 36px;
  color: $c-black-soft;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }
}

%title-md {
  @extend %montserrat-700;

  font-size: 30px;
  color: $c-black-soft;
  text-align: center;
}

%title-regular {
  @extend %montserrat-400;

  font-size: 28px;
  color: $c-black-soft;
}

%text-email {
  @extend %montserrat-400;

  font-size: 14px;
  color: $c-gray-blue;
}

%title-lg-white {
  @extend %montserrat-700;

  font-size: 36px;
  font-weight: 700;
  color: $c-white;
}

// IBM Plex Sans

%plex-base {
  font-family: $font-main;
  letter-spacing: 0;
}

%plex-300 {
  @extend %plex-base;

  font-weight: 300;
}

%plex-400 {
  @extend %plex-base;

  font-weight: 400;
}

%plex-500 {
  @extend %plex-base;

  font-weight: 500;
}

%plex-600 {
  @extend %plex-base;

  font-weight: 600;
}

%plex-700 {
  @extend %plex-base;

  font-weight: 700;
}

// IBM Plex Sans text styles

%button-label {
  @extend %plex-500;

  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
}

%event-label {
  @extend %plex-500;

  font-size: 16px;
  line-height: 100%;
  color: $c-gray-blue;
  text-transform: uppercase;
}

%event-date {
  @extend %plex-700;

  font-size: 16px;
  line-height: 150%;
  color: $c-green-deep;
}

%event-description {
  @extend %plex-300;

  font-size: 16px;
  line-height: 150%;
  color: $c-gray-dark;
}

%subscribe-text {
  @extend %plex-400;

  font-size: 18px;
  line-height: 150%;
  color: $c-white;
  text-align: center;
}

%footer-title {
  @extend %plex-400;

  font-size: 14px;
  line-height: 141%;
  color: $c-black-soft;
}

%schedule-text {
  @extend %plex-600;

  font-size: 14px;
  line-height: 150%;
}

%schedule-text-regular {
  @extend %plex-400;

  font-size: 14px;
  line-height: 150%;
}
