$c-black-soft: #0f0e08;
$c-black: #000;
$c-gray-blue: #687480;
$c-green-deep: #1a5a4c;
$c-gray-dark: #4e4e4e;
$c-white: #fff;
$c-orange: #f14a27;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$container-padding-mobile: 20px;
$container-padding-tablet: 34px;
$container-padding-desktop: 55px;
$desktop-max-width: 1280px;
$font-title: 'Montserrat', sans-serif;
$font-main: 'IBM Plex Sans', sans-serif;
